---
layout: default
title: "Web Developer, Programmer, Musician, Helvetica Enthusiast"
description: "The personal homepage of Mike Green"
---

{% include jquery_templates.html %}

<div class="home" id="main">
	<div class="content">
		<h2>About Me</h2>

		<p>
			My friends call me Christof; the ladies call me the Judeo-Piston. I like to take things apart and sometimes put them back together. I'm a Senior Web Developer at <a href="http://www.fifthroomcreative.com/" target="_blank">Fifth Room Creative</a>. I'm also a contributing developer to <a href="http://podscms.org">Pods CMS</a>.
		</p>

		<p>
			Here's some stuff I've built:
		</p>

		<dl id="my-projects">
			<dt>
				<a href="http://mikedamage.github.com/hayfever-chrome" target="_blank">Hayfever</a>
			</dt>
			<dd>
				An extension for Google Chrome that lets you manage your <a href="http://getharvest.com" target="_blank">Harvest</a> timesheets.
			</dd>

			<dt>
				<a href="http://github.com/mikedamage/nginx-mongo-logger" target="_blank">Nginx Mongo Logger</a>
			</dt>
			<dd>
				Stream your Nginx access and error logs to a MongoDB collection, with the magic of NodeJS
			</dd>
		</dl>

		<!--
		{% if site.posts %}
		<h2>Blog</h2>
		
		<ul id="posts">
		{% for post in site.posts %}
			<li>{{ post.title }}</li>
		{% endfor %}
		</ul>
		{% endif %}
		-->
	</div>

	<div class="sidebar">
		{% include twitter_widget.html %}
		{% include follow_button.html %}
	</div>

	<div class="clear"></div>
</div> 

<!-- vim: set syntax=liquid : -->
