// Mike Green: Personal Homepage
// Sass Mix-ins File

=border-radius($px)
  -moz-border-radius: $px
  -webkit-border-radius: $px

=box-shadow($x, $y, $spread, $color)
  -webkit-box-shadow: $x $y $spread $color 
  -moz-box-shadow: $x $y $spread $color
  box-shadow: $x $y $spread $color

=raleway-font
  font-family: RalewayThin, "Helvetica Neue", Helvetica, Arial, sans-serif

=sans-fonts
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
