<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
	<meta name="google-site-verification" content="-ovbrdUbJNV_7trB3-QeFGCn9mvzQdM182HLIxNuf1M" />

    {% if page.description %}
		<meta name="description" content="{{ page.description }}" />
    {% else %}
		<meta name="description" content="The personal homepage of Mike Green, aka The Judeo-Piston. Mike is a web developer, programmer, musician, and Renaissance Man. A jack of all trades, master of none." />
    {% endif %}

	{% if page.keywords %}

	{% else %}
		<meta name="keywords" content="web development, programming, music, politics, skepticism, politics, opinion" />
	{% endif %}

	<title>Mike Green: {{ page.title }}</title>

    <!-- Fonts -->
    <link media="all" href="stylesheets/liberation-mono.css" type="text/css" rel="stylesheet" />
    <link media="all" href="stylesheets/yanone-kaffeesatz.css" type="text/css" rel="stylesheet" />
    
    <link media="screen, projection" href="stylesheets/screen.css" type="text/css" rel="stylesheet" />
	<link media="all" href="stylesheets/syntax.css" type="text/css" rel="stylesheet" />
    <link media="print" href="stylesheets/print.css" type="text/css" rel="stylesheet" />

    <!--[if IE]>
    	<link media="screen, projection" href="stylesheets/ie.css" type="text/css" rel="stylesheet" />
    <![endif]-->
</head>
<body class="bp">
	
	<header>
		<div class="container">
			<h1>Mike Green</h1>
			<span class="tagline">Web Developer, Programmer, Musician, Misanthrope, Helvetica Enthusiast.</span>
		</div>
	</header>

	<div id="container">
		{{ content }}
		
		<footer>
			<p>Copyright &copy; <span id="current-year">2011</span> Mike Green, All Rights Reserved</p>
		</footer>
	</div>


	<script type="text/javascript" src="/js/underscore.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/jquery-1.4.4.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/jquery.tmpl.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/main.js" charset="utf-8"></script>
</body>
</html>
