<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="The personal homepage of Mike Green, aka The Judeo-Piston. Mike is a web developer, programmer, musician, and Renaissance Man. A jack of all trades, master of none." />
    <meta name="keywords" content="web development, programming, music, politics, skepticism, politics, opinion" />
	<title>Mike Green, aka the Judeo-Piston: {{ page.title }}</title>

    <link media="screen, projection" href="stylesheets/screen.css" type="text/css" rel="stylesheet" />
	<link media="all" href="stylesheets/syntax.css" type="text/css" rel="stylesheet" />
    
    <!-- Fonts -->
    <link media="all" href="stylesheets/droid-sans-mono.css" type="text/css" rel="stylesheet" />
    <link media="all" href="stylesheets/vollkorn.css" type="text/css" rel="stylesheet" />
	<link media="all" href="stylesheets/league-gothic.css" type="text/css" rel="stylesheet" />
    
    <link media="print" href="stylesheets/print.css" type="text/css" rel="stylesheet" />

    <!--[if IE]>
    	<link media="screen, projection" href="stylesheets/ie.css" type="text/css" rel="stylesheet" />
    <![endif]-->
</head>
<body class="bp">
	
	<div id="container">
		<header>
			<h1>Mike Green</h1>
		</header>

		{{ content }}
		
		<footer>
		
		</footer>
	</div>

	<script type="text/javascript" src="/js/jquery-1.4.4.js" charset="utf-8"></script>
</body>
</html>
